h1 {
  font-family: 'Barlow', sans-serif;
  font-size: 40px;
  color: #1f1f2e;
}

h2 {
  font-family: 'Barlow', sans-serif;
  color: #1f1f2e;
}

.contactform {
    display: block;
    font-family: 'Barlow', sans-serif;
    color: #1f1f2e;
}

input[type = text] {
  box-sizing: border-box;
  width: 75%;
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 3px solid #ffffff;
}

textarea {
  width: 75%;
}

label {
  font-size: 30px;
}

.footer {
  display: inline-flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background: #a4a4c1;
  font-size: 20px;
  width: 400px;
  height: 30px;
}

.maps {
  margin: 0 auto;
  font-family: 'Barlow', sans-serif;
  text-decoration: none;
}

.caller {
  margin: 0 auto;
  font-family: 'Barlow', sans-serif;
  text-decoration: none;
}
