input {
  font-family: 'Bowlby One SC';
  font-size: 30px;
  color: #26a7ed;
}

h1 {
  font-family: 'Bowlby One SC';
  font-size: 40px;
  color: #000000;
}

h2 {
  font-family: 'Bowlby One SC';
  font-size: 35px;
  color: #0000e6
}

p {
  font-family: 'Bowlby One SC';
  font-size: 20px;
  color: #0000e6
}

ul {
  font-family: 'Bowlby One SC';
  font-size: 20px;
  color: #0000e6
}
